:root {
    --background: black;
    --border: white;
    --border2: gray;
}

@font-face {
    font-family: "antonio";
    src: url("../fonts/Antonio-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lato";
    src: url("../fonts/Lato-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "antonio";
    color: var(--border);
}

h3 {
    font-family: "lato";
}

body {
    margin: 0px;
    background-color: var(--background);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    align-items: center;
    box-shadow: 5px 10px #72788D;
}

nav h1 {
    padding-left: 40px;
}

nav ul {
    list-style-type: none;
    padding: 14px 16px;
}

nav li a {
    text-decoration: none;
    color: var(--border);
    padding: 14px 16px;
    font-family: "antonio";
}

nav li a:hover {
    background-color: #72788D;
}

main {
    margin: 10px;
}

h3 span {
    font-family: "lato";
    font-style: italic;
}

p {
    font-family: "lato";
}

li {
    font-family: "lato";
}

li a {
    color: var(--border);
    text-decoration: none;
    font-family: "lato";
}

.skill-description {
    margin-left: 40px;
}

section {
    margin: 50px 0px 50px 0px;
}

/* Larger than smartphone -- mobile first approach */
@media screen and (min-width: 576px) {
    aside {
        width: 18%;
    }

    #education {
        display: flex;
    }

    #education-right {
        border-left: 2px solid #72788D;
        padding-left: 20px;
        width: 82%
    }

    #skills {
        display: flex;
    }

    #skills-right {
        border-left: 2px solid #72788D;
        padding-left: 20px;
        width: 82%;
    }

    #experience {
        display: flex;
    }

    #experience-right {
        border-left: 2px solid #72788D;
        padding-left: 20px;
        width: 82%;
    }

}