:root {
    --background: black;
    --border: white;
    --border2: gray;
}

@font-face {
    font-family: "antonio";
    src: url("../fonts/Antonio-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lato";
    src: url("../fonts/Lato-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "lato";
}

h1 {
    font-family: "antonio";
}

h3 {
    font-family: "antonio";
}

body {
    background-color: var(--background);
    color: var(--border);
}

li {
    display: inline;
    text-decoration: none;
}

a {
    color: var(--white);
    text-decoration: none;
    border-radius: 2px;
}

a:hover {
    box-shadow: 2px 5px 10px var(--border2);
    font-size: 1.1em;
}



#projects_aside {
    border-right: solid 2px var(--border);
}

#about_me_aside {
    border-right: solid 2px var(--border);
}

#contact_me_aside {
    border-right: solid 2px var(--border);
}

img {
    border-radius: 10px;
    border: solid 2px var(--border2);
}

img:hover {
    box-shadow: 2px 5px 10px var(--border2);
    border: solid 10px var(--border-2);
}

#mainImg {
    height: 200px;
    width: auto;
}

#subImg {
    height: 150px;
    width: auto;
}

